streamlit
pandas
Pillow
torch
torchvision
ftfy
regex
tqdm
git+https://github.com/openai/CLIP.git
pip install streamlit pandas pillow matplotlib torch torchvision torchaudio ftfy regex tqdm
pip install git+https://github.com/openai/CLIP.git

